<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seguo.mybatis.mapper.UserMapper">

    <select id="selectUsersByName" resultMap="RuseltMape">
        select *
        from tb_user
        where name LIKE #{name}
    </select>
    <select id="selectBlogContent" resultType="string">
        select content
        from blog_table
        where title = #{title}
    </select>
    <select id="selectAllBlog" resultMap="AllBlog">
        select *
        from blog_table
    </select>
    <delete id="deleteUsersByID">
        delete
        from tb_user
        where id = #{id}
    </delete>
    <delete id="deleteBlogByID">
        delete
        from blog_table
        where id = #{id}
    </delete>
    <update id="changeUsersByID">
        update tb_user
        set name = #{newName}
        where id = #{id}
    </update>
    <update id="changeBlogByID">
        update tb_user
        set content = #{content}
        where id = #{id}
    </update>
    <insert id="addNewUser" useGeneratedKeys="true">
        insert into tb_user (name)
        values (#{name})
    </insert>
    <insert id="addNewBlog" >
        insert into blog_table (id, title, creator, cover, slug, create_time, update_time, user_id, content, content_type, reading_time)
        values (#{id}, #{title}, #{creator}, #{cover}, #{slug}, #{createTime}, #{updateTime}, #{userId}, #{content}, #{contentType}, #{readingTime})
    </insert>
    <resultMap id="RuseltMape" type="com.seguo.mybatis.po.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    <resultMap id="AllBlog" type="com.seguo.mybatis.po.Blog">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="creator" column="creator"/>
        <result property="cover" column="cover"/>
        <result property="slug" column="slug"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="userId" column="user_id"/>
        <result property="content" column="content"/>
        <result property="contentType" column="content_type"/>
        <result property="readingTime" column="reading_time"/>
    </resultMap>
</mapper>
